<!DOCTYPE html>
<html>
  <head>
    <title>BANK API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="container">
      <% if notice %>
        <div id="notice">
          <h5><%= notice %></h5>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
